/* GENERAL RULES */
*{
  box-sizing: border-box;
  padding:0;
  margin:0;
  font-family: source-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 200;
}

i{
 cursor: pointer;
}

a{
  color:inherit;
  font-style: normal;
}

/* SILVER BACKGROUND */
.silver{
 background-color:#f0ede6 ;
}
/* HEADER */
header{
  background-color: #fff;
  width:100%;
  height:120px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header img{
  margin-right: 50px;
}

header ul{
  list-style: none;
}

header ul li{
  display: inline-block;
  margin-left:20px;
  color:#b9b9b9;
  cursor: pointer;
}

header ul li:last-child{
  background-color: #fed03d;
  padding:8px;
  color:#574f35;
}

header ul li:last-child:hover{
  background-color: #333333;
  color:#fff;
}
/* LITTLE SPIKE AFTER HEADER */
header::after{
  content:'';
  background: #fff;
  transform: rotate(45deg);
  width:20px;
  height:20px;
  position: absolute;
  bottom:-10px;
  left:60%;
  z-index: 99;
}
/* JUMBOTRON */
#jumbotron{
  width:100%;
  min-height: 90vh;
  background-image: url('../resources/home-slider-62528242.jpg');
  background-size:cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#jumbotron div:first-child{
  width:60%;
}

.demos{
  position:absolute;
  right:30px;
  top:30px;
}

.demos i{
  font-size: 45px;
  color:#045287;
}

.demos > div{
  cursor:pointer;
  background-color: #fff;
  border-radius: 5px;
  padding:5px;
  min-width:60px;
  min-height: 60px;
  margin:10px;
}

#jumbotron div h2{
  color:#fff;
  margin-bottom:5%;
  font-size: 3rem;
}

#jumbotron div h5{
  color:#fed03d;
  font-size: 1.8rem;
  margin-bottom: 5%;
}
/* BUTTONS */
.ochrabtn , .greybtn{
  padding:5px 10px;
  border:none;
  cursor: pointer;
}

.ochrabtn{
  background-color: #fed03d;
  color:#574f35;
}

.greybtn{
  background-color: #333333;
  color:#fff;
}
/* YELLOW BANNER */
.banner{
  background-color: #fed23f;
  text-align: center;
  height: 90px;
  color:#1e1e1e;
  position:relative;
}

.banner h3{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  font-weight: 300;
}

.banner button{
  position: relative;
  top:78px;
  border: #fff solid 1px;
}
/* SECTIONS RULES */
#specialist ,#explore , #corevalue{
  width:100%;
  background-color: white;
  margin-top:80px ;
  text-align: center;
  padding-bottom:50px;
}

#specialist p  , #explore p , #corevalue p{
  margin:20px auto;
}

.upperhr{
  width:10%;
  color:#fed23f;
  margin: 20px auto;
}

.container{
  display: flex;
  width:80%;
  margin: 40px auto;
}

.box{
  width:24%;
  margin:1%;
  background-color:#f0ede6;
  padding:20px;
  border-radius: 10px;
  color:#6b6868;
  position: relative;
}

.box i {
  padding:12px;
  border:solid 1px #6b6868;
  border-radius: 100%;
  margin-bottom:20px;
}

#infopannel{
  position: relative;
  overflow: hidden;
  padding: 50px 0;
  width:100%;
}

.infos{
  z-index:99;
  margin:auto 15px;
  align-self: center;
  text-align: center;
}

.wrapone{
  background-image: url('../resources/home-244125289.jpg');
}

.infos i , .infos h1{
  font-size: 45px;
  color:#fed23f;
}

.infos h5{
  color:#bcbcbc;
}

.wrapinfo{
  position: relative;
  background-size: cover;
  height: 580px;
  display: flex;
  justify-content: center;
}
/* CONCAVE BOXS */
.wrapinfo:before,
.wrapinfo:after {
  box-shadow: 0 0px 0 80px white;
  border-radius: 100%;
  position: absolute;
  height: 280px;  /* You can change height to increase or decrease concave radius */
  content: '';
  right: -20%;
  left: -20%;
  top: 100%;
}

.wraptwo::before ,.wraptwo::after{
  box-shadow: 0 0px 0 80px #f0ede6;
}

.wrapinfo:after {
  bottom: 100%;
  top: auto;
}
/* EXPLORE SECTION */
#explore .container{
  display: flex;
  justify-content: center;
  align-items: center;
  width:50%;
}

.explorebox{
  max-width:32%;
  margin:0;
  position: relative;
  margin-right:15px;
}

.explorebox img{
  width: 100%;
  height: 100%;
  background-size: cover;
}

.bottomhr{
  color: #f0ede6;
  display: inline-block;
  width:30%;
}

#explore{
  margin-bottom: 100px;
}

#explore span{
  color:#bcbcbc;
  position:relative;
  top:50px;
  cursor:pointer;
}
/* CORE VALUE SECTION */
#corevalue{
  padding-top:80px;
  background-color: #f0ede6;
}

#corevalue h1{
  font-weight: 100;
  letter-spacing: 5px;
}

#corevalue hr{
 width:30%;
}

.subtitle{
 width:50%;
 color:#bcbcbc;
 line-height: 40px;
}

.corebox i{
 font-size: 30px;
 padding:30px;
 border-radius: 100%;
}
.fa-lightbulb{
  padding:30px 35px!important;
}
/* CORE VALUE FONTAWESOME ICON BACKGROUND */
.bgcornflower{
  background-color: #5ea3e7;
}

.bgvenice{
  background-color: #045287;
}

.bgorange{
  background-color: #fe6f1d;
}

.bggreen{
  background-color: #a7cf47;
}

.corebox h5{
  color:#bcbcbc;
  margin:15px auto;
  letter-spacing: 2px;
}
.corebox hr{
  width:10%;
  color:#bcbcbc;
  margin:10px auto;
}

.coreboxp{
  width:80%;
  letter-spacing: 3px;
  color:#bcbcbc;
}
/* SECOND CONCAVE BOX */
.wraptwo{
  background-image: url('../resources/home-parallax-144609983.jpg');
  height:850px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  text-align: center;
}

.testimonial img{
  border-radius: 50%;
}

.testimonial hr{
 width:40%;
}
.testimonial p{
  width:80%;
  margin:20px auto;
  line-height: 40px;
}
/* NEWS SECTION */
#news{
  text-align: center;
  width:100%;
  margin-left:auto;
}

.newscontainer{
  width: 70%;
  margin:25px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position:relative;
}

.newsbox{
  width:30%;
  background-color: white;
  margin:3%;
  text-align: left;
  color:#666665;
}

.newsbox h4 , .newsbox h6{
  margin:15px;
}

.newsbox hr{
  width: 70%;
  margin:15px auto;
}

.newsbox p{
  margin:15px;
  font-size: 10px;
  line-height: 3;
}

.newsbox img{
  width:100%;
  height:20%;
  background-size: contain;
}

.whitehr{
  width:40%;
  color: #fff;
}

.articles{
  display:flex;
  justify-content: center;
  align-items: center;
  width:80%;
  margin:15px auto;
  padding:50px;
  padding-bottom: 80px;
}

#news span{
  position: relative;
  top:40px;
  font-weight: bolder;
  color:#666668;
  cursor: pointer;
}
/* PARTNERS SECTION */
#partners{
  width:80%;
  margin:10px auto;
  color:#666668;
  text-align: center;
  padding-bottom: 50px;
}

#partners p{
  line-height: 2.5;
  width:80%;
  margin-left: auto;
  margin-right: auto;
}

.logos{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width:100%;
}

.logos img{
  width:18%;
  margin:0 1%;
}
/* SECOND JUMBOTRON */
#bottomjumbo{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../resources/about-call-to-action-57862405.jpg');
  background-size: cover;
  min-height: 450px;
  background-position: bottom;
}

.inspiring{
  width:50%;
  text-align: left;
  color:#fff;
}

.inspiring hr{
  margin:25px 0;
  width:50%;
}

.inspiring p{
  line-height: 2.5;
  font-size: 12px;
}
/* SECOND JUMBOTRON BUTTONS */
.buttons{
  width:30%;
  text-align: center;
  color:#fff;
}

.buttons button{
  color:#666668;
  padding:15px 25px;
  margin-bottom: 20px;
}
/* FOOTER */
footer{
  background-color: #1e1e1e;
  border-top:18px solid #31312f;
  display:flex;
  align-items: stretch;
  color:#666665;
}

footer section{
  display:flex;
  width:80%;
  margin:25px auto 0;
}

footer section div{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin:50px auto;
  width:25%;
}

footer ul{
  list-style: none;
}

footer>div{
  width:25%;
  padding:15px;
}

.foottitle{
  color:#fed03d;
  margin-bottom:25px;
}
/* TWITTER CONTAINER */
.twit{
  width:25%;
}
/* CONTACT CONTAINER */
.contacts div span{
  font-variant-numeric: oldstyle-nums;
}

.contactcontainer{
  display: flex;
  align-items: stretch;
  width:70%;
}

.contactcontainer i{
  padding:0 15px 15px 15px;
}

.contactcontainer{
  margin-bottom:20px;
}

.map img{
  max-width: 100%;
  cursor:pointer;
}
/* CERDITS AND SOCIAL BAR */
#subfooter{
  height:80px;
  color:#666665;
  background-color: #000;
  display:flex;
  justify-content:space-between;
  align-items: center;
}

#copyright{
  margin-left:10%;
}

#social{
  margin-right:10%;
}

#social i{
  margin-right:15px;
  color:#666665;
}
