*{
  box-sizing: border-box;
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
}

header{
  background-color: #fff;
  width:100%;
  height:120px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header img{
  margin-right: 50px;
}

header ul{
  list-style: none;
}

header ul li{
  display: inline-block;
  margin-left:20px;
  color:#b9b9b9;
  cursor: pointer;
}

header ul li:last-child{
  background-color: #fed03d;
  padding:8px;
  color:#574f35;
}

.selected{
  color:#f9d03f;
}

header::after{
  content:'';
  background: #fff;
  transform: rotate(45deg);
  width:20px;
  height:20px;
  position: absolute;
  bottom:-10px;
  left:60%;
  z-index: 99;
}



#jumbotron{
  width:100%;
  min-height: 90vh;
  background-image: url('../resources/home-slider-62528242.jpg');
  background-size:cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#jumbotron div{
  width:60%;
}

#jumbotron div h2{
  color:#fff;
  margin-bottom:5%;
}

#jumbotron div h5{
  color:#fed03d;
  margin-bottom: 5%;
}

.ochrabtn , .greybtn{
  padding:5px 10px;
  border:none;
  cursor: pointer;
}

.ochrabtn{
  background-color: #fed03d;
  color:#574f35;
}

.greybtn{
  background-color: #333333;
  color:#fff;
}


.banner{
  background-color: #fed23f;
  text-align: center;
  height: 90px;
  color:#1e1e1e;
  position:relative;
}

.banner h3{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  font-weight: 300;
}

.banner button{
  position: relative;
  top:78px;
  border: #fff solid 1px;
}

#specialist ,#explore , #corevalue{
  width:100%;
  background-color: white;
  margin-top:80px ;
  text-align: center;
  padding-bottom:50px;
}
#specialist p  , #explore p , #corevalue p{
  margin:20px auto;
}

.upperhr{
  width:10%;
  color:#fed23f;
  margin: 20px auto;
}

.container{
  display: flex;
  width:80%;
  margin: 40px auto;
}

.box{
  width:24%;
  margin:1%;
  background-color:#f0ede6;
  padding:20px;
  border-radius: 10px;
  color:#6b6868;
}

.box i {
  padding:12px;
  border:solid 1px #6b6868;
  border-radius: 100%;
  margin-bottom:20px;
}

#infopannel{
  position: relative;
  overflow: hidden;
  padding: 50px 0;
  width:100%;
}

.wrapone{
  background-image: url('../resources/home-244125289.jpg');
}

.wrapinfo{
  position: relative;
  background-size: cover;
  height: 580px;
  display: flex;
  justify-content: center;
}

.wrapinfo:before,
.wrapinfo:after {
  box-shadow: 0 0px 0 80px white;
  border-radius: 100%;
  position: absolute;
  height: 280px;  /* You can change height to increase or decrease concave radius */
  content: '';
  right: -20%;
  left: -20%;
  top: 100%;
}
.wraptwo::before ,.wraptwo::after{
  box-shadow: 0 0px 0 80px #bcbcbc;

}

.wrapinfo:after {
  bottom: 100%;
  top: auto;
}

.infos{
  z-index:99;
  height:10%;
  align-self: center;
  text-align: center;
}

#explore .container{
  display: flex;
  justify-content: center;
}

.explorebox{
  width:32%;
  margin:0;
}

.explorebox img{
  max-height: 220px;
  background-size: cover;
}

.bottomhr{
  color: #f0ede6;
  display: inline-block;
  width:32%;
}

#explore{
  margin-bottom: 100px;
}

#corevalue{
  padding-top:80px;
  background-color: #bcbcbc;
}

.corebox{

}

.wraptwo{
  background-image: url('../resources/home-parallax-144609983.jpg');
  height:850px;
}

.wraptwo div{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width:60%;
  height:50%;
  text-align:center;
}
 .silver{
   background-color: #bcbcbc;
 }
